@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

* {
  margin: 0;
  padding: 0;

  letter-spacing: -0.1px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;

  --primary: #1a75ff;
  --primarySub: #4d93ff;
  --red: #ff1a1a;
  --redSub: #ff4d4d;
  --black: #0e1114;
  --gray900: #2b323d;
  --gray800: #404957;
  --gray700: #566170;
  --gray600: #6e798a;
  --gray500: #8792a3;
  --gray400: #a3adbd;
  --gray300: #bfc8d6;
  --gray200: #dde5f0;
  --gray100: #edf2fa;
  --white: #ffffff;
}

body {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  height: 100vh;
}
